@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'daisyui/dist/full.css';

.spacer{
    margin-bottom:30px;
    margin-right:30px;
    margin-left:30px;
  }

  .card-container > div {
    /* margin-bottom: 15px; */
    margin-left: 15px;
    margin-right: 15px;
  }
  .custom-card {
    @apply bg-primary text-black;
  }
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .card-footer{
    float:right;
  }
  .footer-height{
    height:150px;
  }
  .logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .card-footer{
    display: flex;
  justify-content: space-between;
  align-items: center;
  }
  .bookmark-icon {
    font-size: 20px;
  }
  .job-name {
    @apply text-lg font-bold mb-2 text-black;
  }
  
  .company-name {
    @apply text-sm text-gray-600;
  }
  
  .location {
    @apply flex text-sm text-gray-600 mt-2;
  }
  
  .location-icon {
    @apply mr-1;
  }
  
  .time {
    @apply flex text-sm text-gray-600 mt-2;
  }
  
  .clock-icon {
    @apply mr-1;
  }
  
