.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
      justify-content: space-between;
height:130px;
  padding-top: 10px;

align-items: center;

  }
  .footer-contact {
    text-align: left;
  }
  
  /* .footer-contact p {
    margin: 3px 0;
  } */