.signup-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
  }
  
  .signup-heading {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
  .gap {
    margin-bottom: 2rem;
  }
  .signup-subheading {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .signup-title {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 1.5rem;
    align-items: center;

  }
  
  .signup-form input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .signup-button {
    padding: 0.7rem 1rem;
    background-color: #228b22;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .signup-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
  }
  
  .signup-divider::before,
  .signup-divider::after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
  }
  
  .signup-divider-text {
    padding: 0 0.5rem;
    font-size: 0.9rem;
    color: #888;
  }
  
  .signup-social-logos {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
  }
  
  .signup-social-logo {
    width: 32px;
    height: 32px;
    margin: 0 0.5rem;
  }
  
  .signup-login-link {
    font-size: 1rem;
    margin-top: 1rem;
  }

  .signup-login-link a {
    color: #228b22;
    text-decoration: none;
  }
  
  .signup-login-link a:hover {
    text-decoration: underline;
  }
  
  .password-input-container {
    position: relative;
    width: 100%;

  }
  
  .password-toggle-button {
    position: absolute;
    top: 44%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  /* Adjust the eye icon size and other styles as needed */
  .password-toggle-button svg {
    width: 20px;
    height: 20px;
  }
  
  
  
  
  